extends oil

# Shebang
snippet layer layered architecture directories
  core/
  domain/repository/
  domain/model/
  infrastructure/
  usecase/
  presentation/router/
  presentation/schema/
  logger/__init__.py
  logger/logger.py

